node_modules/
dist/
target/
.idea/
.vscode/
*.log
.env

# IDE metadata
.metals/
.bloop/
.bsp/

# testes
coverage/
playwright-report/
test-results/

# extra safety
*.key
backup-*.sql
Tracky.zip

CHEATSHEET.md
DEPLOY.md
